<h1>Welcome to CSE Motors!</h1>
<section id="heroBanner">
    <img id="bannerImg" src="/images/vehicles/delorean.jpg" alt="image of a delorean from back to the future">
    <div>
        <h3>DMC Delorean</h3>
        <ul>
            <li>3 Cup holders</li>
            <li>Superman doors</li>
            <li>Fuzzy dice!</li>
        </ul>
        <img id="ownTodayButton" src="/images/site/own_today.png" alt="button that reads own today">
    </div>
</section>
<section id="reviews">
    <h3>DMC Delorean Reviews</h3>
    <ul>
        <li>"So fast its almost like traveling in time!"(4/5)</li>
        <li>"Coolest ride on the road"(4/5)</li>
        <li>"I'm feeling McFly!"(4/5)</li>
        <li>"The most futuristic ride of our day"(4.5/5)</li>
        <li>"80's livin and I love it!"(5/5)</li>
    </ul>
</section>
<section id="upgradeList">
    <h3>Delorean Upgrades</h3>
    <div class="upgrade" id="upgrade1">
        <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
        <a href="TBD">Flux Capacitor</a>
    </div>
    <div class="upgrade" id="upgrade2">
        <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
        <a href="TBD">Flame Decals</a>
    </div>
    <div class="upgrade" id="upgrade3">
        <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
        <a href="TBD">Bumper Stickers</a>
    </div>
    <div class="upgrade" id="upgrade4">
        <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
        <a href="TBD">Hub Caps</a>
    </div>
</section>