/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
};

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  display: flex;
  flex-flow: column;
}

header {
  display: flex;
  height: 50px;
  justify-content: space-between;
}

.siteName {
  color:blue;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
}

.siteName a {
  text-decoration: none;
}

#tools a {
  text-decoration: none;
  color: rgb(29, 103, 240);
  font-weight: bold;
}

nav {
  width: 100%;
  background-color: rgb(36, 92, 175);
  margin: auto;
  justify-self: center;
}

nav a {
  color: white;
}

nav ul {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 5px;
  color: white;
}

nav ul li {
  margin: 10px;
}

#bannerImg {
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
}

#heroBanner div {
  position: absolute;
  height: 21%;
  width: 40%;
  top: 25%;
  left: 0;
  background: rgba(255, 255, 255, 0.65);
  color: rgb(15, 178, 219);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#ownTodayButton {
  width: 25vw;
  align-self: flex-start;
}

#heroBanner ul {
  list-style-type: none;
  padding: 0;
  margin-right: 40px;
  padding-left: 5px;
}

#heroBanner ul li {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
}

#heroBanner h3 {
  margin: 0;
}

#upgradeList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 1fr 1fr;
  gap: 5px;
}

.upgrade {
  display: flex;
  flex-flow: column;
  background-color: rgb(15, 178, 219);
  height: 100%;
}

.upgrade img {
  align-self: center;
  max-width: 50%;
  max-height: 80%;
}

.upgrade a {
  align-self: center;
}

#upgradeList h3 {
  grid-row: 1/2;
  grid-column: 1/2;
}

#upgrade1 {
  grid-row: 2/3;
  grid-column: 1/2;
}

#upgrade2 {
  grid-row: 2/3;
  grid-column: 2/3;
}

#upgrade3 {
  grid-row: 3/4;
  grid-column: 1/2;
}

#upgrade4 {
  grid-row: 3/4;
  grid-column: 2/3;
}

#reviews ul {
  padding: 0;
}

#reviews ul li {
  margin: 10px;
}

/* Detailed Car View */

#detailVeiwTitle {
  /* grid-row: 1/2;
  grid-column: 1/3; */
  margin: 0 auto;
}

#carDetail {
  grid-row: 2/4;
  grid-column: 1/3;

}

#carImg {

  margin: 10px;
  border: 3px solid black;
}

#nameTitle {
  background-color: rgb(0, 68, 146);
  color: azure;
  text-align: center;
  padding: 10px;
  margin: 25px;
  border-radius: 3px;
}


#carCard h2 {
  font-weight: bolder;
}

#carCard h3 {
  align-items: center;
  background-color: rgba(97, 228, 45, 0.5);
  padding: 10px;
  text-align: center;
  margin: 25px;
  width: 45%;
}

#carCard h3:hover {
  background-color: rgb(97, 228, 45);
}

/* Login View */

.accountSysStyle {
  border: solid black 2px;
  background-color: rgb(36, 92, 175);
  margin: 0 auto;
  grid-column: 1/3;
  grid-row: 2/4;
  align-self: center;
  padding: 8px;
}

/* .reqInput:required {
  border-right: solid red 5px;
} */
.reqInput:required:invalid, .reqInput:focus:invalid {
  border-right: solid red 5px;
  background-image: url(/images/invalid.png);
  background-position: right top;
  background-repeat: no-repeat;
 }

.reqInput:valid {
  border-right: solid green 5px;
  background-image: url(/images/valid.png);
  background-position: right top;
  background-repeat: no-repeat;
}


.accountSysStyle label {
  color: white;
}

#registerForm {
  border: solid black 2px;
  background-color: rgb(36, 92, 175);
  margin: 0 auto;
  grid-column: 1/3;
  grid-row: 2/4;
  align-self: center;
  padding: 8px;
  width: 15dvw;
}

#loginForm span{
  text-wrap: wrap;
}

#loginForm label {
  color: white;
}

#signUpLink {
  color: rgb(255, 255, 255);
}

#signUpLink a {
  color: rgb(187, 198, 235);
}

#signUpLink a:hover {
  color: rgb(7, 65, 173);
}

#logSubmitButton {
  border-radius: 5px;
  margin: 3px;
  padding: 6px;
  margin-left: 35%;
  align-self: center;
}

#logSubmitButton:hover {
  color: rgb(197, 197, 197);
  background-color: antiquewhite;
}

/* Middle/Large View */
@media screen and (min-width: 800px) {
  html {
    background-image: url("/images/site/small_check.jpg");
  }
  
  body {
    margin: 0 auto;
    background-color: white;
    max-width: 80%;
    margin-top: 20px;
    border: 3px solid rgb(15, 178, 219);
    border-radius: 5px;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr;
  }

  main h1 {
    grid-row: 1/2;
    grid-column: 1/3;
  }

  #heroBanner {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  #reviews {
    grid-row: 3/4;
    grid-column: 2/3;
  }

  #upgradeList {
    grid-row: 3/4;
    grid-column: 1/2;
  }

  #bannerImg {
    margin-left: 5%;
    width: 70vw;
  }

  #ownTodayButton {
    width: 15vw;
  }

  #heroBanner div {
    width: 20%;
    left: 10%;
  }

  #detailVeiwTitle {
    grid-row: 1/2;
    grid-column: 1/3;
    margin: 0 auto;
  }
  
  #carDetail {
    grid-row: 2/4;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 1fr;
  }
  
  #carImg {
    grid-row: 1/2;
    grid-column: 1/2;
    margin: 10px;
    border: 3px solid black;
  }
  
  #nameTitle {
    grid-row: 1/2;
    grid-column: 2/3;
    background-color: rgb(0, 68, 146);
    color: azure;
    text-align: center;
    padding: 10px;
    margin: 25px;
    border-radius: 3px;
  }
  
  #carCard {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  
  #carCard h2 {
    font-weight: bolder;
  }
  
  #carCard h3 {
    align-items: center;
    background-color: rgba(97, 228, 45, 0.5);
    padding: 10px;
    text-align: center;
    margin: 25px;
    width: 45%;
  }
  
  #carCard h3:hover {
    background-color: rgb(97, 228, 45);
  }
  
}