<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>


<%- messages() %>

<form action="/inv/addClass" method="post" id="classAddForm" name="classAddForm">
    <label for="classification_name">New Class Name</label>
    <input class="reqInput" type="text" name="classification_name" required pattern="^[a-zA-Z0-9]+$"><br>  
    <input id="logSubmitButton" type="submit" name="classAddForm" value="Submit">
</form>
